{% extends 'ciencia/base.html' %}
{% load static %}
{% block title %} PORTAFOLIO {% endblock %}
{% block background %}{% static 'ciencia/img/Electronica.jpg' %}{% endblock %}
<!--<link href="/static/ciencia/css/hoober.css" type="text/css" rel="stylesheet">-->
{% block content  %}
    {%block heather %}  
    <aside class="containz">
        <div class="contain11" id="marcos">               
                <div class="middle">
                    <div class="text">
                    Jose Luis Rojas Curiel
                    <h5>Ingeniero Industrial en instrumentacion y control de procesos</h5>
                    <h5>Las empresas en las que he laborado son:</h5>
                    <h5>NATSTEEL Tecnico en Electronica 1995-1996</h5>
                    <h5>IBM Coordinador-Supervisor de produccion 1996-2000</h5>
                    <h5>Flextronics Ingeniero de producto, Ingeniero de calidad, Supervisor de produccion. </h5>
                    <h5>Tecnico de Diagnostico 2000-2007</h5>
                    <h5>HERSHEY Jefe de Seguridad e Higiene 2007-2008</h5>
                    <h5>CELESTICA Ingeniero de proyecto, Capacitacion, Tecnico de Diagnostico 2008-2014</h5>
                    <h5>GPV Gerente de ventas, Ejecutivo de Ventas 2014-2017</h5>
                    <h5>ESPACIOS Gerente de Ventas, Coordinador de ventas 2017-2018</h5>
                    <h5>CITIBANAMEX Ejecutivo de Ventas</h5>
                    <h5>Otros- Mnatenimiento, Reparaciones Electricas, Celulares, Computadoras</h5>
                    </div>
                </div>            
        </div> 
    </aside>
        <aside class="containy"> 
                <div class="contain11" id="marcos">               
                <div class="middle">
                    <div class="text">
                    Estudios
                    <h5>CETI      IIICP
                    <h5>Ingenieria Industrial en instrumentacion y control de procesos</h5>
                    <h5>titulado</h5>
                    <h5>CETis 100</h5>
                    <h5>Bachillerato Programador Analista</h5>
                    <h5>titulado</h5>
                    <h5>UAG</h5>
                    <h5>Capacitador</h5>
                    <h5>Diplomado</h5>
                    <h5>TECNOLOGICO MONTERREY -Campus GDL -</h5>
                    <h5>Gerente Eficaz</h5>
                    <h5>Integracion de Equipos</h5>
                    <h5>Manejo de personal y Gente altamente efectiva</h5>
                    <h5>Gente altamente efectiva</h5>
                    </div>
                </div>            
        </div>      
    </aside>
    {% endblock %}
{% endblock %}